.single-podcast {
  flex-basis: 60%;
  flex-direction: column;
  box-shadow: $grey-shadow;

  &-header {
    h2 {
      margin: 15px 15px 0;
      font-size: 20px;
    }
  }

  &-description {
    margin: 0px 15px;
    padding-bottom: 5px;
    border-bottom:$grey-border;
    p {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
      line-height: 1.5;
    }
  }

  &-audio {
    padding-top: 10px;
    margin: 0 15px 15px;
    audio {
      width: 100%;
      background: black;
    }
  }
}
