.podcast-list-item {
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 21%;

  &-photo {
    border-radius: 50%;
    flex: 1;
    margin: auto;
    position: relative;
    top: 30px;
    width: 75%;
  }

  &-info {
    background: $white;
    border-radius: 5px;
    box-shadow: $grey-shadow;
    flex: 1;
    letter-spacing: .5px;
    padding: 70px 0 10px;
  }

  &-label {
    color: $black;
    font-size: $font-size-small;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &-author {
    color: $font-grey;
    font-size: $font-size-small;
    font-weight: lighter;
  }
}
