.main-container-podcast {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.podcast-list-item-detailed {
  box-shadow: $grey-shadow;
  flex-basis: 25%;

  &-photo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      border-radius: 5px;
      margin: 20px 0;
      max-width: 200px;
    }
  }

  &-info {
    margin-left: 10px;
    padding-bottom: 20px;

    &-wrapper {
      border-top: $grey-border;
      margin: 0 15px;
      padding-top: 20px;
    }

    &-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-author {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
    }
  }

  &-description {
    border-top: $grey-border;
    padding-bottom: 10px;

    h4 {
      font-size: $font-size-medium;
      font-weight: bold;
      margin-bottom: 5px;
    }

    p {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
      line-height: 1.5;
    }
  }
}
