.episodes-list {
  box-shadow: $grey-shadow;
  margin-top: 15px;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 14px;
  justify-content: space-between;
  line-height: 1.5;
  margin: 15px 10px;
}

.table-header {
  // @TODO Add to the variables
  background-color: $table-header-background-color;
  font-weight: 700;
}

.table-row {
  border-bottom: $grey-border;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  &:not(:first-child) {
    font-size: $font-size-small;
    font-weight: bolder;
    padding: 5px 0;
  }

  &:first-of-type {
    border-bottom: 1.5px solid $table-header-border-color;
  }

  &:nth-of-type(even) {
    background-color: $light-grey;
  }

  &:nth-of-type(odd) {
    background-color: $white;
  }
}

.table-row-item {
  display: flex;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;

  &:first-child {
    flex: 4;
    margin-left: 5px;
  }

  &:last-child {
    justify-content: flex-end;
    margin-right: 10px;

  }
}
