header {
  background: $white;
  max-width: 960px;
  min-width: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  border-bottom: $grey-border;
  display: flex;
}

.title {
  a {
    color: $dark-blue;
    display: block;
    font-weight: lighter;
    margin-left: 10px;
    text-decoration: none;
  }
}
