.loader {
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  background-color: $dark-blue;
  border-radius: 50%;
  height: 30px;
  /*margin: 20px auto;*/
  margin-left: auto;
  margin-top: 15px;
  width: 30px;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
