.loader {
  animation: sk-rotateplane .01s infinite ease-in-out;
  background-color: $dark-blue;
  border-radius: 50%;
  height: 30px;
  margin-left: auto;
  margin-top: 15px;
  width: 30px;
  &.stopped {
    animation: none;
  }
}

@keyframes sk-rotateplane {
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
