.field {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#search-wrapper {
  box-sizing: border-box;
  padding: 5px;
  input {
    border: 1.5px solid $grey;
    border-radius: 7px;
    box-shadow: 1px -1px 1px $search-shadow-color;
    font-size: $font-size-small;
    padding: 12px 5px;
    width: 250px;
  }
}

.channels-found {
  background: $dark-blue;
  border-radius: 25%;
  color: $white;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-left: 5px;
  padding: 5px;
}
