.podcast-channel-episode {
  box-shadow: $grey-shadow;
  flex-basis: 60%;
  flex-direction: column;
  margin: 5px 0;
  max-width: 550px;
  padding: 10px 5px;

  &-header {
    h2 {
      font-size: 20px;
      margin: 15px 15px 0;
    }
  }

  &-description {
    border-bottom: $grey-border;
    margin: 0 15px;
    padding-bottom: 5px;

    p {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
      line-height: 1.5;
    }
  }

  &-audio {
    margin: 0 15px 15px;
    padding-top: 10px;

    audio {
      background: $black;
      width: 100%;
    }
  }
}
