// colors
$dark-blue: #36c;
$grey: #e6e6e6;
$light-grey: #f0f0f0;
$white: #fff;
$table-header-background-color: #f2f2f2;
$table-header-border-color: #b8b8b8;
$search-shadow-color: rgba(0, 0, 0, .2);

// borders and shadows
$grey-border: 1px solid $grey;
$grey-shadow: 1px 4px 10px rgba(0, 0, 0, .2);

// typography
$font-stack: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-big: 20px;
