$font-stack: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$white: #fff;
$dark-blue: #3366cc;
$grey: #e6e6e6;
$light-grey: #f0f0f0;

$grey-border: 1px solid $grey;
$grey-shadow: 1px 4px 10px 0px rgba(0,0,0,0.2);

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-big: 20px;

body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: $font-stack;
  font-weight: lighter;
}

/*HEADER*/
header {
  width: 100%;
  max-width: 960px;
  min-width: auto;
  position: fixed;
  top:0;
  z-index: 1;
  background: $white;
}

nav {
  border-bottom: $grey-border;
  display: flex;
}
.title {
  a {
    display: block;
    margin-left: 10px;
    color: $dark-blue;
    text-decoration: none;
    font-weight: lighter;
  }
}

/*LOADER*/
.loader {
  width: 30px;
  height: 30px;
  background-color: $dark-blue;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 50%;
  /*margin: 20px auto;*/
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*search-wrapper*/
.Field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
#search-wrapper {
  box-sizing: border-box;
  padding: 5px;
}

input[type="text"] {
  width: 250px;
  padding: 12px 5px;
  border-radius: 7px;
  border:1.5px solid $grey;
  font-size: $font-size-small;
  box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.2);
}

.channels-found {
  background: $dark-blue;
  border-radius: 25%;
  padding: 5px;
  margin-left: 5px;
  color: $white;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/*MAIN CONTAINTER*/
.main-container {
  margin-top: 100px;
}

.podcast-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;;

}

/*PODCAST CHANNEL*/
.podcast-channel {
  box-sizing: border-box;
  width: 21%;
  margin-bottom: 20px;
  text-align: center;

  &-photo, &-info {
    flex:1;
  }
  &-photo {
    width: 75%;
    border-radius: 50%;
    margin: auto;
    /* @TODO [AdGo] make responsive */
    position: relative;
    top: 30px;
  }
  &-info {
    background: $white;
    padding: 70px 0 10px;
    border-radius: 5px;
    box-shadow: $grey shadow;
  }
  &-label {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-small;
  }
  &-author {
    font-weight: lighter;
    font-size: $font-size-small;
  }
}

/*PAGE 2 - DETAILED PODCAST CHANNEL INFO*/
.main-container-podcast {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.podcast-channel-detailed {
  flex-basis: 25%;
  box-shadow: $grey-shadow;

  &-photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 20px 0;
      border-radius: 5px;
    }
  }

  &-info {
    margin-left: 10px;
    padding-bottom: 20px;

    &-wrapper {
      padding-top: 20px;
      border-top: $grey-border;
      margin:0 15px;
    }

    &-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-author {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
    }
  }
  &-description {
    border-top: $grey-border;
    padding-bottom: 10px;

    h4 {
      font-size: $font-size-medium;
      font-weight: bold;
      margin-bottom: 5px;
    }
    p {
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bolder;
      line-height: 1.5;
    }
  }
}

.podcast-channel-episodes {
  flex-basis: 60%;
  display: flex;
}

.single-podcast-description {
  p {
    font-size: $font-size-small;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.5;
  }
}

/*EPISODES*/
.podcast-channel-episodes {
  display: flex;
  flex-direction: column;
}

.epispodes-header {
  box-shadow: $grey-shadow;

  h2 {
    margin: 5px 10px;
    font-size: 20px;
  }
}

/*Episodes Table*/
.episodes-list {
  margin-top: 15px;
  box-shadow: $grey-shadow;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.5;
  margin: 15px 10px;
}
.table-header {
  font-weight: 700;
  // @TODO Add to the variables
  background-color: #f2f2f2;
}

.table-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: $grey-border;

  &:not(:first-child) {
    padding: 5px 0;
    font-size: $font-size-small;
    font-weight: bolder;
  }

  &:first-of-type {
    border-bottom:1.5px solid #b8b8b8;
  }

  &:nth-of-type(even) {
    background-color: $light-grey;
  }

  &:nth-of-type(odd) {
    background-color: $white;
  }
}

.table-row-item {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;

  &:first-child{
    flex:4;
    margin-left: 5px
  }
  &:last-child{
    margin-right: 10px;
    justify-content: flex-end;
  }
}

/*SINGLE PODCAST*/
.single-podcast {
  flex-basis: 60%;
  flex-direction: column;
  box-shadow: $grey-shadow;

  &-header {
    h2 {
      margin: 15px 15px 0;
      font-size: 20px;
    }
  }

  &-description {
    margin: 0px 15px;
    padding-bottom: 5px;
    border-bottom:$grey-border;
  }

  &-audio {
    padding-top: 10px;
    margin: 0 15px 15px;
    audio {
      width: 100%;
      background: black;
    }
  }
}
