<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Top 100 Podcasts</title>
  </head>
  <body>
    <header>
      <nav>
        <h3 class="title"><a href="/">Podcasts</a></h3>
        <div class="loader" id="loader"></div>
      </nav>
    </header>
    <div id='root'></div>
  </body>
</html>
